<div class="header__title">
  <i class="fa-brands fa-linkedin"></i>
  <a routerLink="/network">LinkedOut</a>
</div>
@if (isAuthenticated$ | async) {
  <div>
    <h4>Dashboard</h4>
  </div>
} @else {
  <div></div>
}
@let isDarkTheme = isDarkTheme$ | async;
<div class="header__right">
  <button mat-icon-button (click)="toggleTheme(isDarkTheme)" aria-label="toggle theme">
    <mat-icon>{{ isDarkTheme ? 'light_mode' : 'dark_mode' }}</mat-icon>
  </button>
  @if (isAuthenticated$ | async) {
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/settings">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
    </mat-menu>
  }
</div>
