<div class="header__title">
  <i class="fa-brands fa-linkedin"></i>
  <a routerLink="/network">LinkedOut</a>
</div>
<div>
  <h4>Dashboard</h4>
</div>
<div class="header__right">
  <button mat-icon-button (click)="toggleTheme()" aria-label="toggle theme">
    <mat-icon>{{ (isDarkTheme$ | async) ? 'light_mode' : 'dark_mode' }}</mat-icon>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/settings">
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </button>
  </mat-menu>
</div>
