.network-container {
  padding: 20px 100px;

  & h1 {
    color: black;
  }
}

.network-table {
  border: 2px solid black;
  border-radius: 14px;
  overflow: hidden;
  background-color: var(--mat-sys-surface-container-high);
}

.name-cell {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-weight: 700;
}

.table-row {
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: gray;
  }
}
