<mat-card class="section-container">
  <!-- About -->
  @if (type === 'About') {
    <mat-card-content class="section-card">
      <mat-card-title class="section-title">{{ type }}</mat-card-title>
      <p>{{ content }}</p>
      <div class="birthday">
        <mat-icon>cake</mat-icon>
        <span>{{ birthday }}</span>
      </div>
    </mat-card-content>
  }

  <!-- Experience -->
  @if (type === 'Experience') {
    <mat-card-content class="section-card">
      <mat-card-title class="section-title">{{ type }}</mat-card-title>
      @for (item of items; track $index) {
        <mat-card-subtitle class="section-subtitle">{{ item.title }}</mat-card-subtitle>
        <p class="gray-text">{{ item.company }} • {{ item.location }}</p>
        <p class="gray-text">{{ item.startDate }} - {{ item.endDate }}</p>
        <p>{{ item.description }}</p>
        <mat-divider class="item-border"></mat-divider>
      }
    </mat-card-content>
  }

  <!-- Education -->
  @if (type === 'Education') {
    <mat-card-content class="section-card">
      <mat-card-title class="section-title">{{ type }}</mat-card-title>
      @for (item of items; track $index) {
        <mat-card-subtitle class="section-subtitle">{{ item.institution }}</mat-card-subtitle>
        <p class="gray-text">{{ item.degree }}, {{ item.fieldOfStudy }}</p>
        <p class="gray-text">{{ item.startYear }} - {{ item.endYear }}</p>
        <mat-divider></mat-divider>
      }
    </mat-card-content>
  }

  <!-- Skills -->
  @if (type === 'Skills') {
    <mat-card-content class="section-card">
      <mat-card-title class="section-title">{{ type }}</mat-card-title>
      <mat-chip-set>
        @for (skill of items; track $index) {
          <mat-chip appRandomColor>{{ skill }}</mat-chip>
        }
      </mat-chip-set>
    </mat-card-content>
  }
</mat-card>
