.section-container {
  margin: 20px 140px;
}

.section-title {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0;
  padding: 0;
}

.section-card p {
  font-weight: 400;
  margin: 4px 0;
  line-height: 1.4;
}

.birthday {
  color: rgb(100, 98, 98);
  font-weight: 500;
  display: flex;
  align-items: flex-end;
  & mat-icon {
    font-size: 22px;
  }
}

.section-subtitle {
  font-weight: 600;
}

.gray-text {
  color: rgb(110, 110, 110);
}

.item-border {
  margin: 10px 0;
}
