.main-container {
  padding: 40px 380px;

  & .login-container {
    padding: 40px 0;

    & h1 {
      text-align: center;
    }

    & mat-form-field {
      input {
        font-size: 18px;
      }
    }

    & .form-field {
      display: flex;
      justify-self: center;
      width: 60%;
    }

    & .form-submit {
      display: flex;
      justify-content: center;
      gap: 12px;
    }
  }
}
