<div class="companies-container">
  <h1>Companies</h1>

  <mat-form-field appearance="outline">
    <mat-icon matPrefix>search</mat-icon>
    <input matInput [formControl]="searchControl" placeholder="Search companies" />
    <button class="clear-search" matSuffix mat-icon-button (click)="clearSearch()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <table mat-table [dataSource]="data()?.data ?? []" class="companies-table">
    <ng-container matColumnDef="company">
      <th mat-header-cell *matHeaderCellDef>Company</th>
      <td mat-cell *matCellDef="let company">
        <div class="company-cell">
          <mat-icon>business</mat-icon>
          <span class="company-name">{{ company.name }}</span>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef>Location</th>
      <td mat-cell *matCellDef="let company">
        {{ company.location }}
      </td>
    </ng-container>

    <ng-container matColumnDef="website">
      <th mat-header-cell *matHeaderCellDef>Website</th>
      <td mat-cell *matCellDef="let company">
        <a [href]="company.website" target="_blank">
          <span class="company-website">{{ company.website }}</span>
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="jobs">
      <th mat-header-cell *matHeaderCellDef>Open Jobs</th>
      <td mat-cell *matCellDef="let company">
        <span class="jobs-count">{{ company.jobsCount }}</span>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" class="table-row"></tr>
    <tr *matNoDataRow>
      <td [colSpan]="displayedColumns.length">
        @if (data() === undefined) {
          <mat-spinner></mat-spinner>
        } @else if (isEmpty()) {
          No companies found.
        }
      </td>
    </tr>
  </table>

  <mat-paginator
    [length]="data()?.pagination?.totalItems ?? 0"
    [pageSize]="pageSize()"
    [pageIndex]="pageNumber() - 1"
    [pageSizeOptions]="[5, 10, 20]"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
</div>
